@import url(./__name/form__name.css);
@import url(./__about/form__about.css);
@import url(./__submit/form__submit.css);

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 36px;
}
