@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);

.page {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
}

.page__container {
  max-width: 882px;
  /* min-width: 300px; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  padding: 45px 0 40px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto 50px;
}

.profile__picture {
  width: 120px;
  height: 100%;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__current {
  display: flex;
}

.profile__head {
  display: flex;
  align-items: baseline;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  margin-right: 24px;
}

.profile__edit {
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 24px;
  width: 24px;
  background: url(./images/edit.png) no-repeat center;
  border: 1px solid white;
}

.profile__about {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}



.profile__add {
  height: 22px;
  width: 22px;
  padding: 14px 64px;
  border: 1px solid #FFFFFF;
  /* align-self: flex-end; */
}

.modal {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 50%);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_open {
  display: flex;
}

.modal__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 430px;
  border-radius: 15px;

}

.modal__close-button {
  align-self: flex-end;
  margin-top: -36px;
  margin-right: -36px;
  background: url(./images/closeIcon.svg) no-repeat center;
  border: none;
  display: block;
  width: 40px;
  height: 40px;
}

.modal__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 34px 36px 54px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 36px;
}

.form__name {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid #00000020;
  padding-bottom: 13px;
  margin-bottom: 30px;
}

.form__about {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid #00000020;
  padding-bottom: 13px;
  margin-bottom: 48px;
}

.form__submit {
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: black;
  padding: 15px 0;
  border-radius: 5px;
}

.elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.element {
  margin-bottom: 20px;
}

.element__image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 282px;
  height: 282px;
}

.element__description {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
  padding: 25px 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 282px;
}

.element__name {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like {
  margin-right: 30px;
}

.footer {
  padding-top: 46px;
  padding-bottom: 60px;
}

.footer__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}


@media screen and (min-width: 926px) {
  .page__container {
    max-width: 882px
  }
}


@media screen and (max-width: 925px) {
  .page__container {
    max-width: 88vw;
  }
  .profile__picture {
    margin-right: 15px;
  }
  .profile__name {
    margin-right: 12px;
  }
}


@media screen and (max-width: 795px) {

  .profile__name {
    font-size: 22px;
  }
  .profile__about {
    font-size: 14px;
    line-height: 17px;
  }
  .profile__edit {
    height: 18px;
    width: 18px;
  }
}

@media screen and (max-width: 656px) {
  .header__image {
    padding: 28px 0 32px;
  }

  .profile {
    flex-direction: column;
    align-items: center;
    margin: 40px 0 50px;
  }

  .profile__current {
    flex-direction: column;
    align-items: center;
  }

  .profile__picture {
    margin-right: 0;
  }

  .profile__about {
    align-self: center;
    margin-bottom: 36px;
  }

  .profile__add {
    height: 16px;
    width: 16px;
    align-self: center;
    padding: 17px calc(44vw);
  }
  .modal__container {
    min-width: 200px;
    width: 75vw;
  }
  .modal__close-button {
    margin-top: -18px;
    margin-right: -18px;
    width: 20px;
    height: 20px;
  }

  .elements {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
