.page {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.page__container {
  max-width: 1280px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.header__image {
  padding: 45px 0 40px;
}

.header {
  border-bottom: 1px solid #545454;
  opacity: .7;
}

