@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.page {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.page__container {
  max-width: 1280px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  padding: 45px 0 40px;
}



/* .header__line {
  align-self: center;
  opacity: .7;
  color: #545454;
}
 */
